In [1]:
import pandas as pd

In [2]:
test = pd.read_parquet("/lab/barcheese01/rkern/brieflow/example_analysis/analysis_root/preprocess/metadata/sbs/P-1_W-A1__combined_metadata.parquet")
test

,x_pos,y_pos,z_pos,pfs_offset,plate,well,tile,cycle,filename,channels,pixel_size_x,pixel_size_y
0,38965.1,-36812.3,3141.10,NaN,1,A1,0,1,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
0,38985.3,-36802.6,3145.26,NaN,1,A1,0,2,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
0,38982.0,-36804.6,3158.08,NaN,1,A1,0,3,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
0,39012.8,-36796.4,3146.18,NaN,1,A1,0,4,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
0,38999.1,-36804.1,3136.92,NaN,1,A1,0,5,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...
0,39246.4,-4217.6,3119.60,NaN,1,A1,376,7,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
0,39272.3,-4207.1,3111.24,NaN,1,A1,376,8,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
0,39260.1,-4203.7,3112.82,NaN,1,A1,376,9,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
0,39270.8,-4208.8,3120.26,NaN,1,A1,376,10,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
0,39253.3,-4206.4,3121.74,NaN,1,A1,376,11,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3

In [3]:
test.reset_index(drop=True, inplace=True)
test

,x_pos,y_pos,z_pos,pfs_offset,plate,well,tile,cycle,filename,channels,pixel_size_x,pixel_size_y
0,38965.1,-36812.3,3141.10,NaN,1,A1,0,1,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
1,38985.3,-36802.6,3145.26,NaN,1,A1,0,2,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
2,38982.0,-36804.6,3158.08,NaN,1,A1,0,3,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
3,39012.8,-36796.4,3146.18,NaN,1,A1,0,4,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
4,38999.1,-36804.1,3136.92,NaN,1,A1,0,5,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...
4142,39246.4,-4217.6,3119.60,NaN,1,A1,376,7,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
4143,39272.3,-4207.1,3111.24,NaN,1,A1,376,8,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
4144,39260.1,-4203.7,3112.82,NaN,1,A1,376,9,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
4145,39270.8,-4208.8,3120.26,NaN,1,A1,376,10,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
4146,39253.3,-4206.4,3121.74,NaN,1,A1,376,11,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3

In [4]:
test.to_parquet("test.parquet")

test2 = pd.read_parquet("test.parquet")
test2

,x_pos,y_pos,z_pos,pfs_offset,plate,well,tile,cycle,filename,channels,pixel_size_x,pixel_size_y
0,38965.1,-36812.3,3141.10,NaN,1,A1,0,1,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
1,38985.3,-36802.6,3145.26,NaN,1,A1,0,2,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
2,38982.0,-36804.6,3158.08,NaN,1,A1,0,3,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
3,39012.8,-36796.4,3146.18,NaN,1,A1,0,4,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
4,38999.1,-36804.1,3136.92,NaN,1,A1,0,5,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...
4142,39246.4,-4217.6,3119.60,NaN,1,A1,376,7,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
4143,39272.3,-4207.1,3111.24,NaN,1,A1,376,8,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
4144,39260.1,-4203.7,3112.82,NaN,1,A1,376,9,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
4145,39270.8,-4208.8,3120.26,NaN,1,A1,376,10,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
4146,39253.3,-4206.4,3121.74,NaN,1,A1,376,11,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3