In [5]:
from pathlib import Path

import pandas as pd

In [34]:
from lib.shared.file_utils import get_filename

PREPROCESS_FP = Path("root_fp") / "preprocess"

PREPROCESS_OUTPUTS = {
    "extract_metadata_sbs": [
        PREPROCESS_FP
        / "metadata"
        / "sbs"
        / get_filename(
            {
                "plate": "{plate}",
                "well": "{well}",
                "tile": "{tile}",
                "cycle": "{cycle}",
            },
            "metadata",
            "tsv",
        ),
    ],
    # "combine_metadata_sbs": [
    #     PREPROCESS_FP
    #     / "metadata"
    #     / "sbs"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #         },
    #         "combined_metadata",
    #         "parquet",
    #     ),
    # ],
    # "extract_metadata_phenotype": [
    #     PREPROCESS_FP
    #     / "metadata"
    #     / "phenotype"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #             "tile": "{tile}",
    #         },
    #         "metadata",
    #         "tsv",
    #     ),
    # ],
    # "combine_metadata_phenotype": [
    #     PREPROCESS_FP
    #     / "metadata"
    #     / "phenotype"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #         },
    #         "combined_metadata",
    #         "parquet",
    #     ),
    # ],
    # "convert_sbs": [
    #     PREPROCESS_FP
    #     / "images"
    #     / "sbs"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #             "tile": "{tile}",
    #             "cycle": "{cycle}",
    #         },
    #         "image",
    #         "tiff",
    #     ),
    # ],
    # "convert_phenotype": [
    #     PREPROCESS_FP
    #     / "images"
    #     / "phenotype"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #             "tile": "{tile}",
    #         },
    #         "image",
    #         "tiff",
    #     ),
    # ],
    # "calculate_ic_sbs": [
    #     PREPROCESS_FP
    #     / "ic_fields"
    #     / "sbs"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #             "cycle": "{cycle}",
    #         },
    #         "ic_field",
    #         "tiff",
    #     ),
    # ],
    # "calculate_ic_phenotype": [
    #     PREPROCESS_FP
    #     / "ic_fields"
    #     / "phenotype"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #         },
    #         "ic_field",
    #         "tiff",
    #     ),
    # ],
}

In [9]:
test_ouput = str(PREPROCESS_OUTPUTS["extract_metadata_sbs"][0])
test_ouput

'root_fp/preprocess/metadata/sbs/P-{plate}_W-{well}_T-{tile}_C-{cycle}__metadata.tsv'

In [2]:
test = pd.read_csv("/lab/barcheese01/rkern/brieflow/example_analysis/config/sbs_samples.tsv", sep="\t")
test

,sample_fp,plate,well,tile,cycle
0,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,0,1
1,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,0,2
2,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,0,3
3,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,0,4
4,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,0,5
...,...,...,...,...,...
16583,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,376,7
16584,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,376,8
16585,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,376,9
16586,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,376,10
16587,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,376,11

In [ ]:
test = test[~((test["plate"] == 1) & (test["well"] == "A2"))]
test.to_csv("/lab/barcheese01/rkern/brieflow/example_analysis/config/sbs_samples.tsv", sep="\t", index=False)
test

,sample_fp,plate,well,tile,cycle
0,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,0,1
1,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,0,2
2,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,0,3
3,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,0,4
4,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,0,5
...,...,...,...,...,...
16583,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,376,7
16584,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,376,8
16585,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,376,9
16586,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,376,10
16587,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,376,11

In [24]:
test_plate_well_combos = test[["plate", "well", "tile", "cycle"]].drop_duplicates()
test_plate_well_combos

       plate well  tile  cycle
0          1   A1     0      1
1          1   A1     0      2
2          1   A1     0      3
3          1   A1     0      4
4          1   A1     0      5
...      ...  ...   ...    ...
16583      2   A2   376      7
16584      2   A2   376      8
16585      2   A2   376      9
16586      2   A2   376     10
16587      2   A2   376     11

[12441 rows x 4 columns]

In [35]:
from snakemake.io import expand

def module_outputs_to_targets(module_outputs, wildcards_df):
    """Convert module output templates to concrete target paths using Snakemake expand."""
    targets = []
    
    # Extract all wildcards as separate lists for zip expansion
    wildcard_values = {col: wildcards_df[col].tolist() for col in wildcards_df.columns}
    
    # Process each rule's outputs
    for rule_outputs in module_outputs.values():
        for output in rule_outputs:
            # Convert output to string
            output_str = str(output)
            
            # Use Snakemake's expand with zip for efficient path generation
            # zip tells expand to use corresponding items from each list rather than all combinations
            expanded_outputs = expand(output_str, zip, **wildcard_values)
            targets.extend(expanded_outputs)
    
    return targets

test_targets = module_outputs_to_targets(PREPROCESS_OUTPUTS, test_plate_well_combos)

len(test_targets)

12441