In [3]:
import pandas as pd

In [ ]:
pd.read_parquet("/lab/barcheese01/rkern/brieflow/example_analysis/analysis_root_test/sbs/parquets/P-2_W-A1__cells.parquet")

,cell,plate,tile,well,Q_0,Q_1,Q_2,Q_3,Q_4,Q_5,...,cell_barcode_count_0,cell_barcode_1,cell_barcode_count_1,barcode_count,sgRNA_0,gene_symbol_0,gene_id_0,sgRNA_1,gene_symbol_1,gene_id_1
0,1,2,1,A1,1.000000,0.0,1.0,1.0,1.000000,1.000000,...,1,<NA>,0.0,1,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
1,2,2,1,A1,1.000000,1.0,1.0,0.0,0.203511,1.000000,...,2,<NA>,0.0,2,AGAAGACACTGACGGCCTTG,SLC16A3,9123,<NA>,<NA>,NaN
2,3,2,1,A1,1.000000,0.0,1.0,0.0,0.000000,1.000000,...,1,<NA>,0.0,1,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
3,4,2,1,A1,1.000000,0.0,1.0,0.0,0.000000,1.000000,...,1,GAGAATCAAGA,1.0,2,GCGGCTCAAGATGTCTGGCG,USP19,10869,<NA>,<NA>,NaN
4,5,2,1,A1,0.000000,0.0,0.0,0.0,0.000000,0.000000,...,1,<NA>,0.0,1,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4468,2360,2,2,A1,1.000000,1.0,1.0,1.0,1.000000,1.000000,...,1,<NA>,0.0,1,TTACCTATAGCACTTAACAA,INTS14,81556,<NA>,<NA>,NaN
4469,2361,2,2,A1,1.000000,1.0,1.0,1.0,1.000000,1.000000,...,2,CGTACTTTCAC,1.0,3,AAGAGCTTCATACTCCGCAG,POLR1E,64425,CGTACTTTCACGGACCTGCG,TCEAL4,79921.0
4470,2362,2,2,A1,0.415037,1.0,1.0,1.0,1.000000,1.000000,...,1,<NA>,0.0,1,CAATGCTCAGGTGGACAAGG,SPRR2G,6706,<NA>,<NA>,NaN
4471,2363,2,2,A1,1.000000,1.0,1.0,1.0,1.000000,0.575171,...,2,<NA>,0.0,2,AACGGCATCTGTATGCACCT,SFTPB,6439,<NA>,<NA>,NaN
4472,2365,2,2,A1,1.000000,1.0,1.0,1.0,1.000000,1.000000,...,1,<NA>,0.0,1,GATGCCGCAGTACCAGACCT,SRP9,6726,<NA>,<NA>,NaN

In [5]:
pd.read_parquet("/lab/barcheese01/rkern/brieflow/example_analysis/analysis_root_test/sbs/parquets/P-1_W-A1__cells.parquet")

,cell,plate,tile,well,Q_0,Q_1,Q_2,Q_3,Q_4,Q_5,...,cell_barcode_count_0,cell_barcode_1,cell_barcode_count_1,barcode_count,sgRNA_0,gene_symbol_0,gene_id_0,sgRNA_1,gene_symbol_1,gene_id_1
0,4,1,1,A1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1,<NA>,0.0,1,CCAAAACTTCACCTGGACGA,ABCE1,6059,<NA>,<NA>,<NA>
1,12,1,1,A1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1,<NA>,0.0,1,TGATGATCTTGTGCTCCAAG,POLR2J,5439,<NA>,<NA>,<NA>
2,13,1,1,A1,1.000000,1.000000,1.000000,1.000000,0.958644,1.000000,...,1,<NA>,0.0,1,TGATGAAGATGAGACCACTG,CCDC47,57003,<NA>,<NA>,<NA>
3,14,1,1,A1,0.415037,1.000000,1.000000,0.839036,1.000000,0.925513,...,1,<NA>,0.0,1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,15,1,1,A1,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1,<NA>,0.0,1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3428,3134,1,2,A1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2,<NA>,0.0,2,GCGTCTAATCACGGGACTCG,MYBBP1A,10514,<NA>,<NA>,<NA>
3429,3135,1,2,A1,0.738140,1.000000,1.000000,1.000000,1.000000,1.000000,...,1,<NA>,0.0,1,AGTGGACCCTGGGTTCGAGG,ZGLP1,100125288,<NA>,<NA>,<NA>
3430,3137,1,2,A1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1,<NA>,0.0,1,TCATAATTAACACACATCAG,BRAF,673,<NA>,<NA>,<NA>
3431,3139,1,2,A1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1,<NA>,0.0,1,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3432,3141,1,2,A1,0.167372,0.167372,0.900119,0.193820,0.700878,0.341036,...,1,TTTGGTTATGC,1.0,2,GCGTCTAATCACGGGACTCG,MYBBP1A,10514,<NA>,<NA>,<NA>