In [1]:
from pathlib import Path

import pandas as pd

In [2]:
from lib.shared.file_utils import get_filename

PREPROCESS_FP = Path("root_fp") / "preprocess"

PREPROCESS_OUTPUTS = {
    "extract_metadata_sbs": [
        PREPROCESS_FP
        / "metadata"
        / "sbs"
        / get_filename(
            {
                "plate": "{plate}",
                "well": "{well}",
                "tile": "{tile}",
                "cycle": "{cycle}",
            },
            "metadata",
            "tsv",
        ),
    ],
    "combine_metadata_sbs": [
        PREPROCESS_FP
        / "metadata"
        / "sbs"
        / get_filename(
            {
                "plate": "{plate}",
                "well": "{well}",
            },
            "combined_metadata",
            "parquet",
        ),
    ],
    # "extract_metadata_phenotype": [
    #     PREPROCESS_FP
    #     / "metadata"
    #     / "phenotype"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #             "tile": "{tile}",
    #         },
    #         "metadata",
    #         "tsv",
    #     ),
    # ],
    # "combine_metadata_phenotype": [
    #     PREPROCESS_FP
    #     / "metadata"
    #     / "phenotype"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #         },
    #         "combined_metadata",
    #         "parquet",
    #     ),
    # ],
    # "convert_sbs": [
    #     PREPROCESS_FP
    #     / "images"
    #     / "sbs"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #             "tile": "{tile}",
    #             "cycle": "{cycle}",
    #         },
    #         "image",
    #         "tiff",
    #     ),
    # ],
    # "convert_phenotype": [
    #     PREPROCESS_FP
    #     / "images"
    #     / "phenotype"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #             "tile": "{tile}",
    #         },
    #         "image",
    #         "tiff",
    #     ),
    # ],
    # "calculate_ic_sbs": [
    #     PREPROCESS_FP
    #     / "ic_fields"
    #     / "sbs"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #             "cycle": "{cycle}",
    #         },
    #         "ic_field",
    #         "tiff",
    #     ),
    # ],
    # "calculate_ic_phenotype": [
    #     PREPROCESS_FP
    #     / "ic_fields"
    #     / "phenotype"
    #     / get_filename(
    #         {
    #             "plate": "{plate}",
    #             "well": "{well}",
    #         },
    #         "ic_field",
    #         "tiff",
    #     ),
    # ],
}

In [3]:
test_ouput = str(PREPROCESS_OUTPUTS["combine_metadata_sbs"][0])
test_ouput

'root_fp/preprocess/metadata/sbs/P-{plate}_W-{well}__combined_metadata.parquet'

In [ ]:
test = pd.read_csv(
    "/lab/barcheese01/rkern/brieflow/example_analysis/config/sbs_samples.tsv", sep="\t"
)
test

                                            sample_fp  plate well  tile  cycle
0   /lab/barcheese01/brieflow_screens/denali-data/...      1   A1     1      1
1   /lab/barcheese01/brieflow_screens/denali-data/...      1   A1     1      2
2   /lab/barcheese01/brieflow_screens/denali-data/...      1   A1     1      3
3   /lab/barcheese01/brieflow_screens/denali-data/...      1   A1     2      1
4   /lab/barcheese01/brieflow_screens/denali-data/...      1   A1     2      2
5   /lab/barcheese01/brieflow_screens/denali-data/...      1   A1     2      3
6   /lab/barcheese01/brieflow_screens/denali-data/...      2   A1     1      1
7   /lab/barcheese01/brieflow_screens/denali-data/...      2   A1     1      2
8   /lab/barcheese01/brieflow_screens/denali-data/...      2   A1     1      3
9   /lab/barcheese01/brieflow_screens/denali-data/...      2   A1     2      1
10  /lab/barcheese01/brieflow_screens/denali-data/...      2   A1     2      2
11  /lab/barcheese01/brieflow_screens/denali-data/...      2   A1     2      3
12  /lab/barcheese01/brieflow_screens/denali-data/...      2   A2     1      1
13  /lab/barcheese01/brieflow_screens/denali-data/...      2   A2     1      2
14  /lab/barcheese01/brieflow_screens/denali-data/...      2   A2     1      3
15  /lab/barcheese01/brieflow_screens/denali-data/...      2   A2     2      1
16  /lab/barcheese01/brieflow_screens/denali-data/...      2   A2     2      2
17  /lab/barcheese01/brieflow_screens/denali-data/...      2   A2     2      3

In [ ]:
test = test[~((test["plate"] == 1) & (test["well"] == "A2"))]
test = test[test["tile"].isin([1, 2]) & test["cycle"].isin([1, 2, 3])]

# test.to_csv(
#     "/lab/barcheese01/rkern/brieflow/example_analysis/config/sbs_samples.tsv",
#     sep="\t",
#     index=False,
# )
# test

,sample_fp,plate,well,tile,cycle
11,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,1,1
12,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,1,2
13,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,1,3
22,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,2,1
23,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,2,2
24,/lab/barcheese01/brieflow_screens/denali-data/...,1,A1,2,3
8305,/lab/barcheese01/brieflow_screens/denali-data/...,2,A1,1,1
8306,/lab/barcheese01/brieflow_screens/denali-data/...,2,A1,1,2
8307,/lab/barcheese01/brieflow_screens/denali-data/...,2,A1,1,3
8316,/lab/barcheese01/brieflow_screens/denali-data/...,2,A1,2,1
8317,/lab/barcheese01/brieflow_screens/denali-data/...,2,A1,2,2
8318,/lab/barcheese01/brieflow_screens/denali-data/...,2,A1,2,3
12452,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,1,1
12453,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,1,2
12454,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,1,3
12463,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,2,1
12464,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,2,2
12465,/lab/barcheese01/brieflow_screens/denali-data/...,2,A2,2,3

In [5]:
metadata_combos = test[["plate", "well", "tile", "cycle"]].drop_duplicates()
metadata_combos

    plate well  tile  cycle
0       1   A1     1      1
1       1   A1     1      2
2       1   A1     1      3
3       1   A1     2      1
4       1   A1     2      2
5       1   A1     2      3
6       2   A1     1      1
7       2   A1     1      2
8       2   A1     1      3
9       2   A1     2      1
10      2   A1     2      2
11      2   A1     2      3
12      2   A2     1      1
13      2   A2     1      2
14      2   A2     1      3
15      2   A2     2      1
16      2   A2     2      2
17      2   A2     2      3

In [ ]:
from snakemake.io import expand


def module_outputs_to_targets(module_outputs, metadata_combos):
    """Convert module output templates to concrete target paths using Snakemake expand."""
    targets = []

    # Extract all wildcards as separate lists for zip expansion
    wildcard_values = {
        col: metadata_combos[col].tolist() for col in metadata_combos.columns
    }

    # Process each rule's outputs
    for rule_outputs in module_outputs.values():
        for output in rule_outputs:
            # Convert output to string
            output_str = str(output)

            # Use Snakemake's expand with zip for efficient path generation
            # zip tells expand to use corresponding items from each list rather than all combinations
            expanded_outputs = expand(output_str, zip, **wildcard_values)
            targets.extend(expanded_outputs)

    return targets


test_targets = module_outputs_to_targets(PREPROCESS_OUTPUTS, metadata_combos)

test_targets

['root_fp/preprocess/metadata/sbs/P-1_W-A1_T-1_C-1__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-1_W-A1_T-1_C-2__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-1_W-A1_T-1_C-3__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-1_W-A1_T-2_C-1__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-1_W-A1_T-2_C-2__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-1_W-A1_T-2_C-3__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1_T-1_C-1__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1_T-1_C-2__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1_T-1_C-3__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1_T-2_C-1__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1_T-2_C-2__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1_T-2_C-3__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2_T-1_C-1__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2_T-1_C-2__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2_T-1_C-3__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2_T-2_C-1__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2_T-2_C-2__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2_T-2_C-3__metadata.tsv',
 'root_fp/preprocess/metadata/sbs/P-1_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-1_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-1_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-1_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-1_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-1_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A1__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2__combined_metadata.parquet',
 'root_fp/preprocess/metadata/sbs/P-2_W-A2__combined_metadata.parquet']

In [ ]:
from snakemake.io import ancient, expand
import pandas as pd

def output_to_input(output, wildcards={}, expansion_values=[], metadata_combos=None, subset_values={}, ancient_output=False):
    """Generates input file paths by expanding or subsetting a filepath template.

    This function allows one to retrieve file paths from a given template by:
    - Expanding on values: Generating all possible file paths by substituting wildcards with 
      values from `metadata_combos`.
    - Subsetting on values: Filtering paths to include only specific values in `subset_values`.
    - Performing both expansion and subsetting.

    Args:
        output (list[Path]): List of template file paths with wildcards.
        wildcards (dict): Dictionary of fixed wildcard values.
        expansion_values (list): List of wildcard names to expand.
        metadata_combos (pd.DataFrame, optional): DataFrame containing all possible wildcard combinations.
        subset_values (dict): Dictionary of values to subset the final expanded paths.
        ancient_output (bool, optional): If True, marks all returned paths as ancient in Snakemake.

    Returns:
        list: A list of expanded and/or filtered file paths as strings.
    """
    if metadata_combos is None:
        # Directly expand paths when metadata_combos is not provided
        expanded_paths = expand(str(output[0]), **wildcards, **subset_values)
    else:
        # Filter metadata_combos based on fixed wildcards
        mask = (metadata_combos[list(wildcards.keys())] == pd.Series(dict(wildcards))).all(axis=1)
        filtered_combos = metadata_combos[mask]

        # Extract relevant expansion values
        expansion_dicts = filtered_combos[expansion_values].to_dict(orient="records")

        # Expand paths using Snakemake's expand function
        expanded_paths = [
            expand(str(output[0]), **wildcards, **subset_values, **combo) for combo in expansion_dicts
        ]

        # Flatten nested lists of paths
        expanded_paths = [path for sublist in expanded_paths for path in sublist]

    # Mark paths as ancient if requested
    if ancient_output:
        expanded_paths = [ancient(path) for path in expanded_paths]

    return expanded_paths


output_to_input(
    PREPROCESS_OUTPUTS["extract_metadata_sbs"],
    # wildcards={"plate": 2, "well": "A1", "tile": 1},
    wildcards={"plate": 2},
    expansion_values=["well", "tile"],
    metadata_combos=metadata_combos,
    subset_values={"cycle": [2]},
)

['root_fp/preprocess/metadata/sbs/P-2_W-A1_T-1_C-2__metadata.tsv']