In [2]:
import pandas as pd

In [4]:
test = pd.read_parquet("/lab/barcheese01/rkern/brieflow/example_analysis/analysis_root_test/preprocess/metadata/sbs/P-2_W-A2__combined_metadata.parquet")
test

,x_pos,y_pos,z_pos,pfs_offset,plate,well,tile,cycle,filename,channels,pixel_size_x,pixel_size_y
0,-5480.2,-35326.5,3119.68,NaN,2,A2,1,1,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
1,-6025.4,-35348.3,3125.34,NaN,2,A2,1,2,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
2,-5463.9,-35331.3,3124.54,NaN,2,A2,1,3,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
3,-6044.1,-35353.8,3136.76,NaN,2,A2,1,4,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
4,-6041.3,-35351.8,3135.44,NaN,2,A2,1,5,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
5,-5460.6,-35354.7,3123.52,NaN,2,A2,1,6,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
6,-5426.9,-35335.8,3129.68,NaN,2,A2,1,7,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
7,-5504.4,-35249.7,3142.06,NaN,2,A2,1,8,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
8,-6038.3,-35347.4,3128.82,NaN,2,A2,1,9,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
9,-5459.3,-35350.9,3137.94,NaN,2,A2,1,10,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
10,-5490.2,-35353.1,3135.52,NaN,2,A2,1,11,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
11,-3998.3,-35338.5,3119.68,NaN,2,A2,2,1,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
12,-4543.6,-35359.9,3125.32,NaN,2,A2,2,2,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
13,-3982.1,-35343.1,3122.82,NaN,2,A2,2,3,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
14,-4562.2,-35365.9,3136.74,NaN,2,A2,2,4,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
15,-4559.3,-35363.6,3135.44,NaN,2,A2,2,5,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
16,-3978.6,-35366.7,3122.58,NaN,2,A2,2,6,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
17,-3945.1,-35348.1,3129.68,NaN,2,A2,2,7,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
18,-4022.4,-35261.6,3142.04,NaN,2,A2,2,8,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
19,-4556.4,-35359.3,3128.80,NaN,2,A2,2,9,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
20,-3977.4,-35362.6,3137.56,NaN,2,A2,2,10,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3
21,-4008.4,-35365.3,3135.52,NaN,2,A2,2,11,/lab/barcheese01/brieflow_screens/denali-data/...,5,1.3,1.3