In [1]:
import pandas as pd

In [2]:
test = pd.read_parquet("/lab/barcheese01/rkern/brieflow/example_analysis/analysis_root_test/phenotype/parquets/P-1_W-A1__phenotype_cp_min.parquet")
test

,plate,well,tile,label,cell_i,cell_j,cell_bounds_0,cell_bounds_1,cell_bounds_2,cell_bounds_3,cell_DAPI_min,cell_COXIV_min,cell_CENPA_min,cell_WGA_min
0,1,A1,1,1,27.872674,775.984819,2,751,53,805,91,148,145,1547
1,1,A1,1,2,27.635586,1856.225676,2,1828,57,1883,85,120,123,1187
2,1,A1,1,3,26.326068,1403.425712,1,1379,56,1432,84,146,125,1427
3,1,A1,1,4,28.264403,485.411866,1,444,57,525,51,133,133,1261
4,1,A1,1,5,30.860366,282.245732,7,259,55,304,115,131,127,1268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1113,1,A1,2,1114,2354.046352,832.653511,2327,806,2382,862,148,186,165,1951
1114,1,A1,2,1115,2365.716238,1780.750000,2342,1745,2390,1814,109,162,164,1557
1115,1,A1,2,1116,2368.825534,1027.005086,2339,1007,2399,1047,97,179,166,1775
1116,1,A1,2,1117,2377.352544,2295.991416,2358,2270,2399,2324,206,168,173,1695
1117,1,A1,2,1118,2378.595583,1217.806550,2359,1198,2399,1240,139,180,183,2463

In [3]:
test = pd.read_parquet("/lab/barcheese01/rkern/brieflow/example_analysis/analysis_root_test/phenotype/parquets/P-2_W-A1__phenotype_cp.parquet")
test

,label,nucleus_DAPI_int,nucleus_COXIV_int,nucleus_CENPA_int,nucleus_WGA_int,nucleus_DAPI_mean,nucleus_COXIV_mean,nucleus_CENPA_mean,nucleus_WGA_mean,nucleus_DAPI_std,...,cell_number_neighbors_1,cell_percent_touching_1,cell_first_neighbor_distance,cell_second_neighbor_distance,cell_angle_between_neighbors,cytoplasm_number_neighbors_1,cytoplasm_percent_touching_1,cytoplasm_first_neighbor_distance,cytoplasm_second_neighbor_distance,cytoplasm_angle_between_neighbors
0,1,3744726,483782,845992,3327982,3284.847368,424.370175,742.098246,2919.282456,742.450580,...,0,0.000000,72.269789,79.519097,78.123302,0,0.000000,70.717856,84.422084,77.957587
1,2,6464563,512931,837572,2819898,4624.150930,366.903433,599.121602,2017.094421,941.499659,...,2,0.248869,47.923599,60.254833,134.946966,2,0.137845,45.923208,62.188725,135.355373
2,3,3133729,516133,785593,2566011,2923.254664,481.467351,732.829291,2393.666978,619.095108,...,0,0.000000,65.979946,70.226322,34.491804,0,0.000000,66.548899,69.012747,32.522229
3,4,3901889,530602,935209,2536535,2343.476877,318.679880,561.687087,1523.444444,408.816346,...,1,0.130872,51.433033,71.084528,177.224854,1,0.080247,48.177496,68.645502,178.377623
4,5,6159571,437964,972287,3442332,4377.804549,311.275053,691.035537,2446.575693,937.920310,...,0,0.000000,74.301262,147.305430,4.917359,0,0.000000,74.210183,149.833123,7.454928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,379,1337032,333314,637694,1804024,965.366065,240.659928,460.428881,1302.544404,196.448300,...,0,0.000000,61.907551,71.939713,78.707640,0,0.000000,55.638306,75.754906,62.329852
379,380,1232419,357640,586865,1739075,1062.430172,308.310345,505.918103,1499.202586,253.354332,...,0,0.000000,59.880512,66.675914,50.744314,0,0.000000,57.594890,68.352807,50.134373
380,381,1526603,405844,707728,1823399,1265.839967,336.520730,586.839138,1511.939469,273.314139,...,0,0.000000,57.811511,72.489912,95.866917,0,0.000000,57.309485,74.645013,90.545985
381,382,1513522,268421,557406,1645823,1340.586360,237.751107,493.716563,1457.770593,323.723870,...,0,0.000000,64.813697,79.288135,61.082096,0,0.000000,66.409752,72.531319,62.531850
382,383,1166869,353607,592724,1575316,949.445891,287.719284,482.281530,1281.786819,192.701761,...,0,0.000000,85.272049,97.969307,37.340772,0,0.000000,87.547850,91.588280,37.423125

In [4]:
test["plate"]

0      2
1      2
2      2
3      2
4      2
      ..
378    2
379    2
380    2
381    2
382    2
Name: plate, Length: 1011, dtype: int64

In [5]:
pd.read_parquet("/lab/barcheese01/rkern/brieflow/example_analysis/analysis_root_test/phenotype/parquets/P-2_W-A1__phenotype_info.parquet")

,area,i,j,cell,bounds,plate,tile,well
0,1140.0,31.224561,242.185088,1,"(11, 226, 54, 261)",2,1,A1
1,1398.0,37.765379,1070.596567,2,"(16, 1051, 61, 1093)",2,1,A1
2,1072.0,44.641791,1184.309701,3,"(27, 1165, 64, 1204)",2,1,A1
3,1665.0,61.511111,99.622222,4,"(36, 80, 87, 121)",2,1,A1
4,1407.0,59.710021,392.940299,5,"(38, 372, 82, 415)",2,1,A1
...,...,...,...,...,...,...,...,...
1006,1385.0,2366.755957,997.870036,379,"(2345, 978, 2390, 1019)",2,2,A1
1007,1160.0,2368.282759,929.756897,380,"(2348, 912, 2389, 949)",2,2,A1
1008,1206.0,2364.880597,1458.506633,381,"(2348, 1437, 2383, 1481)",2,2,A1
1009,1129.0,2365.617360,370.205492,382,"(2353, 343, 2378, 399)",2,2,A1
1010,1229.0,2373.911310,828.703011,383,"(2355, 808, 2393, 850)",2,2,A1