In [1]:
import pickle
import os
from pathlib import Path

import pandas as pd

In [2]:
# test well/cycle for merge step
TEST_WELL = "A2"
TEST_CYCLE = 1

### Copy metadata files

In [3]:
# copy phenotype metadata file
if not os.path.exists(
    "analysis_root/preprocess/metadata/phenotype/"
):
    os.makedirs(
        "analysis_root/preprocess/metadata/phenotype/"
    )
with open(f"/lab/barcheese01/screens/denali/metadata/20X_{TEST_WELL}.metadata.pkl", "rb") as f:
    ph_test_metadata = pickle.load(f)
    ph_test_metadata.rename(
        columns={
            "field_of_view": "tile",
            "x_data": "x_pos",
            "y_data": "y_pos",
            "z_pos": "z_pos",
        },
        inplace=True,
    )
    ph_test_metadata.to_csv(
        f"analysis_root/preprocess/metadata/phenotype/W{TEST_WELL}__combined_metadata.tsv",
        sep="\t",
        index=False,
    )

# copy sbs metadata file
if not os.path.exists(
    "analysis_root/preprocess/metadata/sbs/"
):
    os.makedirs(
        "analysis_root/preprocess/metadata/sbs/"
    )
with open(
    f"/lab/barcheese01/screens/denali/metadata/10X_c{TEST_CYCLE}-SBS-{TEST_CYCLE}_{TEST_WELL}.metadata.pkl", "rb"
) as f:
    sbs_test_metadata = pickle.load(f)
    sbs_test_metadata.rename(
        columns={
            "field_of_view": "tile",
            "x_data": "x_pos",
            "y_data": "y_pos",
            "z_data": "z_pos",
        },
        inplace=True,
    )
    sbs_test_metadata.to_csv(
        f"analysis_root/preprocess/metadata/sbs/W{TEST_WELL}_C{TEST_CYCLE}__combined_metadata.tsv",
        sep="\t",
        index=False,
    )

### make minimal info files

In [4]:
# anchor sites to copy over
ANCHOR_SITES = [(5, 0), (141, 32), (370, 86), (896, 212), (1163, 270), (1599, 376)]
# Extract phenotype and SBS tiles from initial sites
ph_tiles = [site[0] for site in ANCHOR_SITES]
sbs_tiles = [site[1] for site in ANCHOR_SITES]

In [5]:
if not os.path.exists(
    "analysis_root/phenotype_process/tsvs"
):
    os.makedirs(
        "analysis_root/phenotype_process/tsvs/"
    )
phenotype_info_dir = Path("/lab/barcheese01/screens/denali/process_ph/tables/")
for phenotype_info_fp in phenotype_info_dir.iterdir():
    # Convert to string for matching
    file_name = str(phenotype_info_fp.name)
    tile = int(file_name.split("Tile-")[1].split(".")[0])
    # Check if the file name contains the test well and any phenotype tile
    if "phenotype_info" in file_name and TEST_WELL in file_name and tile in ph_tiles:
        print(file_name)

        phenotype_info = pd.read_csv(phenotype_info_fp)
        phenotype_info.to_csv(f'analysis_root/phenotype_process/tsvs/W{TEST_WELL}_T{tile}__phenotype_info.tsv', sep="\t", index=False)

if not os.path.exists(
    "analysis_root/sbs_process/tsvs"
):
    os.makedirs(
        "analysis_root/sbs_process/tsvs/"
    )
sbs_info_dir = Path("/lab/barcheese01/screens/denali/process_sbs/tables/")
for sbs_info_fp in sbs_info_dir.iterdir():
    # Convert to string for matching
    file_name = str(sbs_info_fp.name)
    tile = int(file_name.split("Tile-")[1].split(".")[0])
    # Check if the file name contains the test well and any phenotype tile
    if "sbs_info" in file_name and TEST_WELL in file_name and tile in sbs_tiles:
        print(file_name)

        sbs_info = pd.read_csv(sbs_info_fp)
        sbs_info.to_csv(f'analysis_root/sbs_process/tsvs/W{TEST_WELL}_T{tile}__sbs_info.tsv', sep="\t", index=False)

20X_A2_Tile-5.phenotype_info.csv
20X_A2_Tile-896.phenotype_info.csv
20X_A2_Tile-1599.phenotype_info.csv
20X_A2_Tile-370.phenotype_info.csv
20X_A2_Tile-1163.phenotype_info.csv
20X_A2_Tile-141.phenotype_info.csv
10X_A2_Tile-270.sbs_info.csv
10X_A2_Tile-212.sbs_info.csv
10X_A2_Tile-376.sbs_info.csv
10X_A2_Tile-32.sbs_info.csv
10X_A2_Tile-86.sbs_info.csv
10X_A2_Tile-0.sbs_info.csv

In [12]:
# phenotype_fp_1 = Path("/lab/barcheese01/rkern/brieflow/example_analysis/analysis_root/preprocess/metadata/phenotype/WA1__combined_metadata.tsv")
# phenotype_fp_2 = Path("/lab/barcheese01/rkern/brieflow/example_analysis/analysis_root/preprocess/metadata/phenotype/WA2__combined_metadata.tsv")

# phenotype_1 = pd.read_csv(phenotype_fp_1, sep="\t")
# phenotype_1["well"] = "A1"

# phenotype_2 = pd.read_csv(phenotype_fp_2, sep="\t")
# phenotype_2["well"] = "A2"

# phenotype_combined = pd.concat([phenotype_1, phenotype_2])


phenotype_combined.to_hdf("data/C1_combined_metadata.hdf", "x", mode="w")

phenotype_combined

/tmp/ipykernel_2859740/3093043755.py:11: FutureWarning: Starting with pandas version 3.0 all arguments of to_hdf except for the argument 'path_or_buf' will be keyword-only.
  phenotype_combined.to_hdf("combined_metadata__phenotype.hdf", "x", mode="w")

,x_pos,y_pos,z_data,pfs_offset,tile,filename,well
0,42663.4,-36845.1,3162.70,10199,0,/lab/barcheese01/screens/denali/input_ph/20240...,A1
1,41922.3,-36839.3,3162.68,10199,1,/lab/barcheese01/screens/denali/input_ph/20240...,A1
2,41181.6,-36833.3,3163.32,10199,2,/lab/barcheese01/screens/denali/input_ph/20240...,A1
3,40440.5,-36827.3,3164.58,10199,3,/lab/barcheese01/screens/denali/input_ph/20240...,A1
4,39699.4,-36821.7,3164.90,10199,4,/lab/barcheese01/screens/denali/input_ph/20240...,A1
...,...,...,...,...,...,...,...
1600,-593.5,-4261.5,3115.28,10199,1600,/lab/barcheese01/screens/denali/input_ph/20240...,A2
1601,-1334.7,-4255.3,3115.42,10199,1601,/lab/barcheese01/screens/denali/input_ph/20240...,A2
1602,-2075.6,-4249.7,3115.62,10199,1602,/lab/barcheese01/screens/denali/input_ph/20240...,A2
1603,-2816.7,-4244.0,3116.08,10199,1603,/lab/barcheese01/screens/denali/input_ph/20240...,A2
1604,-3557.6,-4237.8,3116.34,10199,1604,/lab/barcheese01/screens/denali/input_ph/20240...,A2

In [13]:
# sbs_1 = pd.read_csv("/lab/barcheese01/rkern/brieflow/example_analysis/analysis_root/preprocess/metadata/sbs/WA1_C1__combined_metadata.tsv", sep="\t")
# sbs_1["well"] = "A1"
# sbs_2 = pd.read_csv("/lab/barcheese01/rkern/brieflow/example_analysis/analysis_root/preprocess/metadata/sbs/WA2_C1__combined_metadata.tsv", sep="\t")
# sbs_2["well"] = "A2"

# sbs_combined = pd.concat([sbs_1, sbs_2])


sbs_combined.to_hdf("data/combined_metadata__sbs.hdf", "x", mode="w")

sbs_combined

/tmp/ipykernel_2859740/2015656743.py:7: FutureWarning: Starting with pandas version 3.0 all arguments of to_hdf except for the argument 'path_or_buf' will be keyword-only.
  sbs_combined.to_hdf("combined_metadata__sbs.hdf", "x", mode="w")

,x_pos,y_pos,z_pos,pfs_offset,tile,filename,well
0,38965.1,-36812.3,3139.72,8063,0,/lab/barcheese01/screens/denali/input_sbs/c1/P...,A1
1,33049.0,-35283.0,3139.66,8063,1,/lab/barcheese01/screens/denali/input_sbs/c1/P...,A1
2,34531.0,-35294.2,3139.62,8063,2,/lab/barcheese01/screens/denali/input_sbs/c1/P...,A1
3,36013.1,-35306.6,3139.60,8063,3,/lab/barcheese01/screens/denali/input_sbs/c1/P...,A1
4,37494.9,-35318.4,3139.58,8063,4,/lab/barcheese01/screens/denali/input_sbs/c1/P...,A1
...,...,...,...,...,...,...,...
372,1624.5,-5761.0,3096.92,8063,372,/lab/barcheese01/screens/denali/input_sbs/c1/P...,A2
373,3106.4,-5773.0,3096.90,8063,373,/lab/barcheese01/screens/denali/input_sbs/c1/P...,A2
374,4588.4,-5785.0,3096.88,8063,374,/lab/barcheese01/screens/denali/input_sbs/c1/P...,A2
375,6070.4,-5796.8,3096.88,8063,375,/lab/barcheese01/screens/denali/input_sbs/c1/P...,A2
376,154.7,-4267.4,3097.18,8063,376,/lab/barcheese01/screens/denali/input_sbs/c1/P...,A2